---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    {{- include "curriki-ui.labels" . | nindent 4 }}
  name: {{ include "curriki-ui.fullname" . }}
spec:
  port:
    targetPort: 8080-tcp
  to:
    kind: Service
    name: curriki-ui
    weight: 100
  wildcardPolicy: None
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/rewrite-target: /
  labels:
    {{- include "curriki-ui.labels" . | nindent 4 }}
  name: {{ include "curriki-ui.fullname" . }}-api
spec:
  path: /api
  port:
    targetPort: 8000-tcp
  to:
    kind: Service
    name: curriki-api
    weight: 100
  wildcardPolicy: None
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    {{- include "curriki-ui.labels" . | nindent 4 }}
  name: {{ include "curriki-ui.fullname" . }}-storage
spec:
  path: /storage
  port:
    targetPort: 8000-tcp
  to:
    kind: Service
    name: curriki-api
    weight: 100
  wildcardPolicy: None
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    {{- include "curriki-ui.labels" . | nindent 4 }}
  name: {{ include "curriki-ui.fullname" . }}-socket
spec:
  path: /socket.io
  port:
    targetPort: 6001-tcp
  to:
    kind: Service
    name: curriki-api
    weight: 100
  wildcardPolicy: None