apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "curriki-ui.labels" . | nindent 4 }}
  name: {{ include "curriki-ui.fullname" . }}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    {{- include "curriki-api.selectorLabels" . | nindent 4 }}
  sessionAffinity: None
  type: ClusterIP
