dev_allowed_destinations: &dev_allowed_destinations # argocd project
  - namespace: labs-dev
    server: https://kubernetes.default.svc
test_allowed_destinations: &test_allowed_destinations # argocd project
  - namespace: labs-test
    server: https://kubernetes.default.svc

##############
# Argo App of Apps declaration
#############
argocd_projects:
- enabled: true
  name: curriki-labs-dev
  destinations: *dev_allowed_destinations
- enabled: true
  name: curriki-labs-test
  destinations: *test_allowed_destinations

applications:
  curriki_api_dev:
    name: curriki-api-dev
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-api/chart
    sync_policy_automated: true
    destination: labs-dev
    source_ref: main
    values:
      fullnameOverride: curriki-api # important to use this if want same app name in multiple ns, else release.name used in chart
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-api
      builds:
        enabled: true
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/initContainers/0/image
            - /spec/template/spec/containers/0/image
            - /spec/template/spec/containers/1/image
            - /spec/template/spec/containers/2/image
            - /spec/template/spec/containers/3/image
            - /spec/template/spec/containers/4/image
    project:
      name: curriki-labs-dev
      enabled: true
  curriki_api_test:
    name: curriki-api-test
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-api/chart
    sync_policy_automated: true
    destination: labs-test
    source_ref: main
    values:
      replicas: 1
      fullnameOverride: curriki-api # important to use this if want same app name in multiple ns, else release.name used in chart
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-api
      builds:
        enabled: false
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/initContainers/0/image
            - /spec/template/spec/containers/0/image
            - /spec/template/spec/containers/1/image
            - /spec/template/spec/containers/2/image
            - /spec/template/spec/containers/3/image
            - /spec/template/spec/containers/4/image
    project:
      name: curriki-labs-test
      enabled: true
  curriki_ui_dev:
    name: curriki-ui-dev
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-ui/chart
    sync_policy_automated: true
    destination: labs-dev
    source_ref: main
    values:
      fullnameOverride: curriki-ui # important to use this if want same app name in multiple ns, else release.name used in chart
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-ui
      image_version: latest
      builds:
        enabled: false # enabled in jenkins
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/containers/0/image
    project:
      name: curriki-labs-dev
      enabled: true
  curriki_ui_test:
    name: curriki-ui-test
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-ui/chart
    sync_policy_automated: true
    destination: labs-test
    source_ref: main
    values:
      fullnameOverride: curriki-ui # important to use this if want same app name in multiple ns, else release.name used in chart
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-ui
      image_version: latest
      builds:
        enabled: false # dont build in test
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/containers/0/image
    project:
      name: curriki-labs-test
      enabled: true
