dev_allowed_destinations: &dev_allowed_destinations
  - namespace: labs-dev
    server: https://kubernetes.default.svc
test_allowed_destinations: &test_allowed_destinations
  - namespace: labs-test
    server: https://kubernetes.default.svc
##############
# Argo App of Apps declaration
#############
argocd_projects:
  - enabled: true
    name: curriki-labs-dev
    destinations: *dev_allowed_destinations
  - enabled: true
    name: curriki-labs-test
    destinations: *test_allowed_destinations
applications:
  curriki_api_dev:
    name: curriki-api-dev
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-api/chart
    sync_policy_automated: true
    destination: labs-dev
    source_ref: main
    values:
      fullnameOverride: curriki-api
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-api
      builds:
        enabled: false
      istag:
        enabled: false
      image_version: 1.0.0
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/initContainers/0/image
            - /spec/template/spec/containers/0/image
            - /spec/template/spec/containers/1/image
            - /spec/template/spec/containers/2/image
            - /spec/template/spec/containers/3/image
            - /spec/template/spec/containers/4/image
    project:
      name: curriki-labs-dev
      enabled: true
  curriki_api_test:
    name: curriki-api-test
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-api/chart
    sync_policy_automated: true
    destination: labs-test
    source_ref: main
    values:
      replicas: 1
      fullnameOverride: curriki-api
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-api
      builds:
        enabled: false
      istag:
        enabled: false
      image_version: 1.0.0
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/initContainers/0/image
            - /spec/template/spec/containers/0/image
            - /spec/template/spec/containers/1/image
            - /spec/template/spec/containers/2/image
            - /spec/template/spec/containers/3/image
            - /spec/template/spec/containers/4/image
    project:
      name: curriki-labs-test
      enabled: true
  curriki_ui_dev:
    name: curriki-ui-dev
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-ui/chart
    sync_policy_automated: false
    destination: labs-dev
    source_ref: main
    values:
      fullnameOverride: curriki-ui
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-ui
      image_version: 0.1.1
      builds:
        enabled: false
      istag:
        enabled: false
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/containers/0/image
        - group: image.openshift.io
          kind: ImageStream
          jsonPointers:
            - /spec/tags
    project:
      name: curriki-labs-dev
      enabled: true
  curriki_ui_test:
    name: curriki-ui-test
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-ui/chart
    sync_policy_automated: false
    destination: labs-test
    source_ref: main
    values:
      fullnameOverride: curriki-ui
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-ui
      image_version: 0.1.1
      builds:
        enabled: false
      istag:
        enabled: false
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/containers/0/image
        - group: image.openshift.io
          kind: ImageStream
          jsonPointers:
            - /spec/tags
    project:
      name: curriki-labs-test
      enabled: true
  curriki_tsugi_dev:
    name: curriki-tsugi-dev
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-tsugi/web/chart
    sync_policy_automated: true
    destination: labs-dev
    source_ref: main
    values:
      fullnameOverride: curriki-tsugi
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-tsugi
      image_version: 0.0.1
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/initContainers/0/image
            - /spec/template/spec/containers/0/image
    project:
      name: curriki-labs-dev
      enabled: true
  curriki_tsugi_test:
    name: curriki-tsugi-test
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-tsugi/web/chart
    sync_policy_automated: true
    destination: labs-test
    source_ref: main
    values:
      fullnameOverride: curriki-tsugi
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-tsugi
      image_version: 0.0.1
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/initContainers/0/image
            - /spec/template/spec/containers/0/image
    project:
      name: curriki-labs-test
      enabled: true
  curriki_admin_dev:
    name: curriki-admin-dev
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-admin/chart
    sync_policy_automated: true
    destination: labs-dev
    source_ref: main
    values:
      fullnameOverride: curriki-admin
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-admin
      image_version: 0.0.1
      builds:
        enabled: false
      istag:
        enabled: false
      app_url: http://curriki-admin-labs-dev.apps.curriki.apac-1.rht-labs.com
      api_url: http://curriki-ui-labs-dev.apps.curriki.apac-1.rht-labs.com/api/api
      front_end_url: http://curriki-ui-labs-dev.apps.curriki.apac-1.rht-labs.com
      api_img_url: http://curriki-ui-labs-dev.apps.curriki.apac-1.rht-labs.com/api
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/initContainers/0/image
            - /spec/template/spec/containers/0/image
    project:
      name: curriki-labs-dev
      enabled: true
  curriki_admin_test:
    name: curriki-admin-test
    enabled: true
    source: https://github.com/ActiveLearningStudio/rh-innovation-lab-open-shift.git
    source_path: curriki-admin/chart
    sync_policy_automated: true
    destination: labs-test
    source_ref: main
    values:
      fullnameOverride: curriki-admin
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: curriki-admin
      image_version: 0.0.1
      builds:
        enabled: false
      istag:
        enabled: false
      app_url: http://curriki-admin-labs-test.apps.curriki.apac-1.rht-labs.com
      api_url: http://curriki-ui-labs-test.apps.curriki.apac-1.rht-labs.com/api/api
      front_end_url: http://curriki-ui-labs-test.apps.curriki.apac-1.rht-labs.com
      api_img_url: http://curriki-ui-labs-test.apps.curriki.apac-1.rht-labs.com/api
    ignore_differences:
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/template/spec/initContainers/0/image
            - /spec/template/spec/containers/0/image
    project:
      name: curriki-labs-test
      enabled: true
