---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: pg-replica
    app.kubernetes.io/component: pg-replica
    app.kubernetes.io/instance: pg-replica
  name: postgresql-slave
spec:
  replicas: 2
  template:
    metadata:
      labels:
        name: postgresql-slave
    spec:
      containers:
        - name: postgresql-slave
          env:
            - name: POSTGRESQL_MAX_CONNECTIONS
              value: 250
            - name: POSTGRESQL_SHARED_BUFFERS
              value: 96M
            - name: POSTGRESQL_EFFECTIVE_CACHE_SIZE
              value: 512M




