apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: pg-replica
    app.kubernetes.io/component: pg-replica
    app.kubernetes.io/instance: pg-replica
  name: postgresql-master
spec:
  template:
    metadata:
      labels:
        name: postgresql-master
    spec:
      containers:
        - name: postgresql-master
          env:
            - name: POSTGRESQL_MAX_CONNECTIONS
              value: 100
            - name: POSTGRESQL_SHARED_BUFFERS
              value: 96MB
            - name: POSTGRESQL_EFFECTIVE_CACHE_SIZE
              value: 512MB

