---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: pg-replica
    app.kubernetes.io/component: pg-replica
    app.kubernetes.io/instance: pg-replica
  name: postgresql-master
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    name: postgresql-master
  strategy:
    activeDeadlineSeconds: 21600
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    type: Recreate
  template:
    metadata:
      labels:
        name: postgresql-master
    spec:
      containers:
      - args:
        - run-postgresql-master
        env:
        - name: POSTGRESQL_MASTER_USER
          value: master
        - name: POSTGRESQL_MASTER_PASSWORD
          value: fkNrPS7HaWWU
        - name: POSTGRESQL_USER
          value: pguser
        - name: POSTGRESQL_PASSWORD
          value: password
        - name: POSTGRESQL_DATABASE
          value: currikidb
        - name: POSTGRESQL_ADMIN_PASSWORD
          value: password
        image: ' '
        command: ["/bin/bash", "-c", 'echo "synchronous_commit = on" >> /var/lib/pgsql/openshift-custom-postgresql.conf && run-postgresql']
        imagePullPolicy: IfNotPresent
        livenessProbe:
          exec:
            command:
            - /usr/libexec/check-container
            - --live
          failureThreshold: 3
          initialDelaySeconds: 120
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 10
        name: postgresql-master
        ports:
        - containerPort: 5432
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - /usr/libexec/check-container
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/lib/pgsql/data
          name: postgresql-data
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: postgresql-data
        persistentVolumeClaim:
          claimName: postgresql-data-claim
  test: false
  triggers:
  - imageChangeParams:
      automatic: true
      containerNames:
      - postgresql-master
      from:
        kind: ImageStreamTag
        name: postgresql:10-el8
        namespace: openshift
      lastTriggeredImage: image-registry.openshift-image-registry.svc:5000/openshift/postgresql:10-el8
    type: ImageChange
  - type: ConfigChange
