{{- if (eq .Values.builds.enabled true) }}
---
kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: {{ include "curriki-api.fullname" . }}
  labels:
    {{- include "curriki-api.labels" . | nindent 4 }}
spec:
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: {{ include "curriki-api.fullname" . }}:{{ .Values.image_version }}
  resources: {}
  successfulBuildsHistoryLimit: 5
  failedBuildsHistoryLimit: 5
  strategy:
    type: Docker
    dockerStrategy:
      from:
        kind: "ImageStreamTag"
        name: {{ include "curriki-api-base.fullname" . }}:{{ .Values.image_version }}
      dockerfilePath: Dockerfile.api
  postCommit: {}
  runPolicy: Serial
  source:
    type: Git
    git:
      uri: {{ .Values.builds.git_url }}
    contextDir: /
  triggers:
  - generic:
      secretReference:
        name: curriki-docker-7-generic-webhook-secret
    type: Generic
  - github:
      secretReference:
        name: curriki-docker-7-github-webhook-secret
    type: GitHub
  - type: ConfigChange
  - imageChange: {}
    type: ImageChange
{{ end }}
