---
kind: Deployment
apiVersion: apps/v1
metadata:
  annotations:
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"{{ include "curriki-api-fpm.fullname" . }}:{{ .Values.image_version }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"curriki-api-fpm\")].image"},{"from":{"kind":"ImageStreamTag","name":"{{ include "curriki-api-fpm.fullname" . }}:{{ .Values.image_version }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"curriki-api-fpm-prometheus\")].image"},{"from":{"kind":"ImageStreamTag","name":"{{ include "curriki-api.fullname" . }}:{{ .Values.image_version }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"curriki-api\")].image"},{"from":{"kind":"ImageStreamTag","name":"{{ include "curriki-api.fullname" . }}:{{ .Values.image_version }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"laravel-echo-server\")].image"},{"from":{"kind":"ImageStreamTag","name":"{{ include "curriki-api.fullname" . }}:{{ .Values.image_version }}"},"fieldPath":"spec.template.spec.initContainers[?(@.name==\"init-container\")].image"},{"from":{"kind":"ImageStreamTag","name":"{{ include "curriki-api.fullname" . }}:{{ .Values.image_version }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"artisan-queue-worker\")].image"}]
  name: {{ include "curriki-api.fullname" . }}
  labels:
    {{- include "curriki-api.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
    {{- include "curriki-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "curriki-api.selectorLabels" . | nindent 8 }}
    spec:
      volumes:
        - name: h5p-storage
          persistentVolumeClaim:
            claimName: h5p-storage
        - name: curriki-api-env
          secret:
            defaultMode: 420
            secretName: curriki-api
        - name: curriki-api-echo-server
          secret:
            defaultMode: 420
            secretName: curriki-api-echo-server
      initContainers:
        - name: init-container
          image: ' '
          command: [ "/bin/bash", "-c", "/usr/local/bin/api-init-container.sh" ]
          volumeMounts:
          - mountPath: /var/www/html/storage
            name: h5p-storage
      containers:
{{/*        - name: curriki-api-fast-copy*/}}
{{/*          image: 'quay.io/masood_faisal/fast-copy:0.0.1'*/}}
{{/*          resources: { }*/}}
{{/*          volumeMounts:*/}}
{{/*            - name: h5p-storage*/}}
{{/*              mountPath: /var/www/html/storage*/}}
{{/*            - name: curriki-api-env*/}}
{{/*              mountPath: /var/www/html/.env*/}}
{{/*              subPath: .env*/}}
{{/*            - name: curriki-api-echo-server*/}}
{{/*              mountPath: /var/www/html/laravel-echo-server.json*/}}
{{/*              subPath: laravel-echo-server.json*/}}
{{/*          terminationMessagePath: /dev/termination-log*/}}
{{/*          terminationMessagePolicy: File*/}}
{{/*          imagePullPolicy: Always*/}}
        - name: curriki-api-fpm
          livenessProbe:
            tcpSocket:
              port: 9999
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          image: ' '
          resources: { }
          readinessProbe:
            tcpSocket:
              port: 9999
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          volumeMounts:
            - name: h5p-storage
              mountPath: /var/www/html/storage
            - name: curriki-api-env
              mountPath: /var/www/html/.env
              subPath: .env
            - name: curriki-api-echo-server
              mountPath: /var/www/html/laravel-echo-server.json
              subPath: laravel-echo-server.json
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
        - name: curriki-api-fpm-prometheus
          livenessProbe:
            httpGet:
              path: /metrics
              port: 8888
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          image: ' '
          resources: { }
          readinessProbe:
            httpGet:
              path: /metrics
              port: 8888
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          command: ["/bin/sh", "-c", "/var/www/html/php-fpm-exporter.linux.amd64 --addr 0.0.0.0:8888 --fastcgi tcp://127.0.0.1:9999/status"]
          volumeMounts:
            - name: h5p-storage
              mountPath: /var/www/html/storage
            - name: curriki-api-env
              mountPath: /var/www/html/.env
              subPath: .env
            - name: curriki-api-echo-server
              mountPath: /var/www/html/laravel-echo-server.json
              subPath: laravel-echo-server.json
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
        - name: curriki-api
          livenessProbe:
            httpGet:
              path: /
              port: 8000
              scheme: HTTP
            timeoutSeconds: 10
            periodSeconds: 20
            successThreshold: 1
            failureThreshold: 3
          image: ' '
          resources: {}
          readinessProbe:
            httpGet:
              path: /
              port: 8000
              scheme: HTTP
            timeoutSeconds: 10
            periodSeconds: 20
            successThreshold: 1
            failureThreshold: 3
          volumeMounts:
            - name: h5p-storage
              mountPath: /var/www/html/storage
            - name: curriki-api-env
              mountPath: /var/www/html/.env
              subPath: .env
            - name: curriki-api-echo-server
              mountPath: /var/www/html/laravel-echo-server.json
              subPath: laravel-echo-server.json
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
        - name: laravel-echo-server
          readinessProbe:
            httpGet:
              path: /
              port: 6001
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          image: ' '
          resources: {}
          livenessProbe:
            httpGet:
              path: /
              port: 6001
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          command: [ "/bin/bash", "-c", "/usr/local/bin/api-laravel-echo-server.sh" ]
          volumeMounts:
            - name: h5p-storage
              mountPath: /var/www/html/storage
            - name: curriki-api-env
              mountPath: /var/www/html/.env
              subPath: .env
            - name: curriki-api-echo-server
              mountPath: /var/www/html/laravel-echo-server.json
              subPath: laravel-echo-server.json
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
        - name: artisan-queue-worker
          image: ' '
          resources: {}
          command: ["/bin/sh", "-c", "/usr/local/bin/api-queue-worker.sh"]
          volumeMounts:
            - name: h5p-storage
              mountPath: /var/www/html/storage
            - name: curriki-api-env
              mountPath: /var/www/html/.env
              subPath: .env
            - name: curriki-api-echo-server
              mountPath: /var/www/html/laravel-echo-server.json
              subPath: laravel-echo-server.json
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always 
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
