---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/rewrite-target: /
    haproxy.router.openshift.io/timeout: 300s
  labels:
    {{- include "curriki-api.labels" . | nindent 4 }}
  name: {{ include "curriki-api.fullname" . }}-api
spec:
  path: /api
  port:
    targetPort: 8443-tcp
  to:
    kind: Service
    name: {{ include "curriki-api.fullname" . }}
    weight: 100
  tls:
    insecureEdgeTerminationPolicy: None
    termination: reencrypt
  wildcardPolicy: None
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    {{- include "curriki-api.labels" . | nindent 4 }}
  name: {{ include "curriki-api.fullname" . }}-storage
spec:
  path: /storage
  port:
    targetPort: 8443-tcp
  to:
    kind: Service
    name: {{ include "curriki-api.fullname" . }}
    weight: 100
  tls:
    insecureEdgeTerminationPolicy: None
    termination: reencrypt
  wildcardPolicy: None
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    {{- include "curriki-api.labels" . | nindent 4 }}
  name: {{ include "curriki-api.fullname" . }}-socket
spec:
  path: /socket.io
  port:
    targetPort: 6001-tcp
  to:
    kind: Service
    name: {{ include "curriki-api.fullname" . }}
    weight: 100
  wildcardPolicy: None