kind: Deployment
apiVersion: apps/v1
metadata:
  name: curriki-api
  annotations:
    image.openshift.io/triggers: '[{"from":{"kind":"ImageStreamTag","name":"curriki-api:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"curriki-api\")].image"},{"from":{"kind":"ImageStreamTag","name":"curriki-api:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"laravel-echo-server\")].image"},{"from":{"kind":"ImageStreamTag","name":"curriki-api:latest"},"fieldPath":"spec.template.spec.initContainers[?(@.name==\"init-container\")].image"},{"from":{"kind":"ImageStreamTag","name":"curriki-api:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"artisan-queue-worker\")].image"}]'
  labels:
    app: curriki-api
    app.kubernetes.io/component: curriki-api
    app.kubernetes.io/instance: curriki-api
    app.kubernetes.io/part-of: curriki
spec:
  replicas: 1
  selector:
    matchLabels:
      app: curriki-api
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: curriki-api
        deploymentconfig: curriki-api
    spec:
      volumes:
        - name: h5p-storage
          persistentVolumeClaim:
            claimName: h5p-storage
        - name: curriki-api-env
          secret:
            defaultMode: 420
            secretName: curriki-api
        - name: curriki-api-echo-server
          secret:
            defaultMode: 420
            secretName: curriki-api-echo-server
      initContainers:
        - name: init-container
          image: ' '
          command: [ "/bin/bash", "-c", "/usr/local/bin/api-init-container.sh" ]
          volumeMounts:
          - mountPath: /var/www/html/storage
            name: h5p-storage
      containers:
        - name: curriki-api
          image: ' '
          resources: {}
          volumeMounts:
            - name: h5p-storage
              mountPath: /var/www/html/storage
            - name: curriki-api-env
              mountPath: /var/www/html/.env
              subPath: .env
            - name: curriki-api-echo-server
              mountPath: /var/www/html/laravel-echo-server.json
              subPath: laravel-echo-server.json
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
        - name: laravel-echo-server
          image: ' '
          resources: {}
          command: [ "/bin/bash", "-c", "/usr/local/bin/api-laravel-echo-server.sh" ]
          volumeMounts:
            - name: h5p-storage
              mountPath: /var/www/html/storage
            - name: curriki-api-env
              mountPath: /var/www/html/.env
              subPath: .env
            - name: curriki-api-echo-server
              mountPath: /var/www/html/laravel-echo-server.json
              subPath: laravel-echo-server.json
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
        - name: artisan-queue-worker
          image: ' '
          resources: {}
          command: ["/bin/sh", "-c", "/usr/local/bin/api-queue-worker.sh"]
          volumeMounts:
            - name: h5p-storage
              mountPath: /var/www/html/storage
            - name: curriki-api-env
              mountPath: /var/www/html/.env
              subPath: .env
            - name: curriki-api-echo-server
              mountPath: /var/www/html/laravel-echo-server.json
              subPath: laravel-echo-server.json
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always 
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
